<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Cards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>Game Cards</h1>
        <div class="card" onclick="location.href='/plinko'">
            <h2>Plinko Ball</h2>
            <p>Try your luck with Plinko Ball!</p>
        </div>
        <div class="card" onclick="location.href='/cardgame'">
            <h2>Card Game</h2>
            <p>Its just Bl@cKjAcK but thats banned</p>
        </div>
        <!-- Add other game cards here -->
    </div>
</body>
</html>


