<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available G@mes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>Available G@mes</h1>
        <ul class="game-list">
            <li class="game-item">Plinko Ball</li>
            <br>
            <li class="game-item">Card G@me</li>
            <!-- Add other games here -->
        </ul>
    </div>
</body>
</html>


